# Numpy Tutorial

## Imports

In [1]:
import numpy as np

## Sales Tracking Problem
We are tracking sales of some products by salesperson.
We will be creating an array of sales records.
Each row of the array represents a sale by a particular sales person.
Each column entry represents the number of units of that product included in the sale.

### Create 1D array indicating which salesperson is associated with which sales record.

In [2]:
salesperson_list = ['Susan',
                    'Bob',
                    'Susan',
                    'Amit',
                    'Cesar',
                    'Xialiang',
                    'Susan',
                    'Amit',
                    'Bob',
                    'Cesar']

salesperson_array = np.array(salesperson_list)
salesperson_array

array(['Susan', 'Bob', 'Susan', 'Amit', 'Cesar', 'Xialiang', 'Susan',
       'Amit', 'Bob', 'Cesar'], dtype='<U8')

### Create a 2D array of sales records
Each row represents a sale.
Each column represents the quantity of a particular product included in that sale.

In [3]:
sales_record_list = [
    [1445, 2109, 1291, 1247, 83],
    [511, 381, 648, 328, 1933],
    [238, 2472, 1324, 699, 2472],
    [859, 1781, 882, 1934, 384],
    [2018, 1217, 1383, 811, 210],
    [2008, 1815, 119, 1154, 1576],
    [241, 1931, 1100, 391, 1929],
    [1253, 404, 1244, 1909, 2296],
    [1220, 339, 740, 1268, 730],
    [684, 2251, 2143, 592, 2258],
]

sales_record_array = np.array(sales_record_list)
sales_record_array

array([[1445, 2109, 1291, 1247,   83],
       [ 511,  381,  648,  328, 1933],
       [ 238, 2472, 1324,  699, 2472],
       [ 859, 1781,  882, 1934,  384],
       [2018, 1217, 1383,  811,  210],
       [2008, 1815,  119, 1154, 1576],
       [ 241, 1931, 1100,  391, 1929],
       [1253,  404, 1244, 1909, 2296],
       [1220,  339,  740, 1268,  730],
       [ 684, 2251, 2143,  592, 2258]])

### Create a new sales record array containing only sales records for Susan.

In [4]:
susan_sales_array = sales_record_array[salesperson_array == 'Susan']
susan_sales_array

array([[1445, 2109, 1291, 1247,   83],
       [ 238, 2472, 1324,  699, 2472],
       [ 241, 1931, 1100,  391, 1929]])

### Calculate total units sold in each of Susan's sales records

In [5]:
total_units_per_sales_record = susan_sales_array.sum(axis=1)
total_units_per_sales_record

array([6175, 7205, 5592])

### Calculate total units sold by Susan for each product

In [6]:
total_units_per_product = susan_sales_array.sum(axis=0)
total_units_per_product

array([1924, 6512, 3715, 2337, 4484])

### Calculate total units sold by Susan

In [8]:
total_units = susan_sales_array.sum()
total_units

18972

### Calculate total units sold by Susan for the first and second products

In [14]:
total_units_products_one_two = sum(susan_sales_array)
total_units_products_one_two

array([1924, 6512, 3715, 2337, 4484])